
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,300&family=Nunito:wght@300&family=Roboto:wght@500&display=swap');




*{
    font-family: 'Nunito', sans-serif;
    
}
::-webkit-scrollbar{
    width: 10px;
    background: rgb(33, 33, 33);
}
::-webkit-scrollbar-thumb{
    background: rgb(74, 74, 74);
    border-radius: 10px;
}
